:root {
  --bg-color: #f9f9f9;
  --card-bg: #ffffff;
  --card-border: #e0e0e0;
  --text-color: #000000;
  --subtext-color: #666666;
  --primary: #875cf5;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode {
  --bg-color: #121212;
  --card-bg: #1f1f1f;
  --card-border: #333333;
  --text-color: #ffffff;
  --subtext-color: #bbbbbb;
  --primary: #875cf5;
  transition: background-color 0.5s ease, color 0.5s ease;
}




body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
